<h1><%= @book.title %></h1>
<h2><%= @book.author %></h2>
<h2><%= @book.published_at %></h2>
<h2><%= @book.pages_count %></h2>
<p><%= @book.description %></p>
<td><%= link_to "Index", books_path(@books) %></td>
